@import "grid.scss";
$user-research-color : #1F40B5;
$product-design-color : #2AB554;
$content-design-color : #EE6B7B;
$breakpoint-no-mediaqueries: 1020px !default; // Not necessary if using sassyplate
$breakpoint-large: 1200px !default; // Not necessary if using sassyplate
$breakpoint-mid: 820px !default; // Not necessary if using sassyplate
$breakpoint-small: 367px !default; // Not necessary if using sassyplate
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; 
    background: #E5E5E5;
    font-family: 'Work Sans', sans-serif;
    @media (max-width: $breakpoint-mid) {
      background: #fff;
      overflow-x: hidden;
    }
  }
  .block {
    width: 100%;
    float:left;
  }
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
  }
  h1 {
    font-size: 30px;
    &.home {
      position: absolute;
      top: 200px;
      width: 100%;
      text-align: center;
      font-size: 45px;
      color: #fff;
      text-shadow: 1px 1px #000;
    }
  }
  h2 {
    font-size: 22px;
    line-height: 27px;
    font-weight: bolder;
  }
  h3 {
    font-size: 20px;
    line-height: 27px;
    font-weight: bolder;
  }
  p {
    font-size: 15px;
    line-height: 20px;
  }
  header,sub-header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 50px;
    text-align: right;
    padding-top: 25px;
    transition: .2s linear all;
    box-shadow: 0 1px 10px 1px rgba(0,0,0,.0);
    z-index: 999999;
    .logo {
      float: left;
      .small-logo {
        display: none;
      }
      .extended-logo {
        display: block;
      }
    }
    nav {
      display: inline-block;
      line-height: 30px;
      ul {
        li {
          display: inline-block;
          a {
            color: #E5E5E5;
            text-decoration: none;
            padding: 12px;
            transition: .2s linear border;
            border-bottom: 1px solid rgba(255, 255, 255, .0);
            &:hover {
              font-weight: bold;
              border-bottom: 2px solid rgba(255, 255, 255, .3);
            }
          }
        }
      }
    }
    &.small {
      background-color: #fff;
      padding-top:15px;
      height: 40px;
      box-shadow: 0 1px 10px 1px rgba(0,0,0,.2);
      .logo {
        .small-logo {
          display: block;
        }
        .extended-logo {
          display: none;
        }
      }
      nav {
        ul {
          li {
            a {
              color: #000;
            }
          }
        }
      }
    }
    @media (max-width: $breakpoint-mid) {
      background-color: #fff;
      padding-top:15px;
      height: 40px;
      box-shadow: 0 1px 10px 1px rgba(0,0,0,.2);
      .logo {
        .small-logo {
          display: block;
        }
        .extended-logo {
          display: none;
        }
      }
      nav {
        float: left;
        margin-left: 25px;
        ul {
          li {
            a {
              color: #000;
              padding: 9px;
              font-size: 14px;
            }
            &:nth-last-child(1) {
              display:none;
            }
          }
        }
      }
    }
    @media (max-width: $breakpoint-small) {
      nav {
        ul {
          li {
            a {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  sub-header {
    display: none;
    top: 55px;
    box-shadow: 0 1px 10px 1px rgba(0,0,0,.0);
    nav{
      float: left;
      text-align: left;
      margin-left: 0px;

      li {
        font-size: 14px;
        a {
          padding: 9px!important;
        }
        &:nth-last-child(1) {
          display:inline-block!important;
        }
      }

    }
    @media (max-width: $breakpoint-mid) {
      display: block;
    }

  }
  .jumbotron {
    width: 100%;
    background: black;
    height: 734px;
    position: relative;
    background-size: 100% 100%;
    &.servicios {
      background-image: url('img/static/5.Servicios_header_1440x438.png');
      background-size: 100% 100%;
      height: 437px;
    }
    &.proyectos {
      background-image: url('img/static/2.Proyectos_header_1440x500.png');
      background-size: 100% 100%;
      height: 437px;
    }
    &.nosotros {
      background-image: url('img/static/nosotros.png');
      background-size: 100% 100%;
      height: 437px;
    }
  }
  .general-content {
    background: #fff;
    margin-top: -150px;
    padding: 60px 90px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
    position: relative;
    &.home {
      padding-bottom: 185px;
      .bajada {
        p{
          font-size: 16px;
          color: #1F40B5;
        }
      }
      @media (max-width: $breakpoint-mid) {
        padding-bottom: 20px;
        margin-left: 24px;        
        width: calc(100% - 40px);
    
      }
    }
    @media (max-width: $breakpoint-mid) {
      padding: 20px 10px;
      box-shadow: 0 0 5px 1px rgba(0,0,0,0);
    }
    &.servicios {
      margin-bottom: 60px;
    }
    &.proyecto {
      margin-bottom: 60px;
    }
  }
  .services-box-desktop {
    display: block;
    @media (max-width: $breakpoint-mid) {
      display: none;
    }
  }
  .services-box {
    box-sizing: border-box;
    padding-bottom: 20px;
    color: #fff;
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin-top: 45px;
    min-height: 438px !important;
    p {
      margin: 20px 40px;
      font-size: 16px;
      @media (max-width: $breakpoint-mid) {
        margin: 20px 30px;
      }
    }
    h2 {
      margin: 20px;
      text-align: center;
    }
    figure {
      height: 248px;
      position: relative;
      text-align: center;
      margin-bottom: 40px;
      @media (max-width: $breakpoint-mid) {
        margin-bottom: 0px;
        height: 230px;
      }
    }
    img {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      max-height: 233px;
    }
    background-color: #DCDCD2;
    color: $user-research-color;
    
  }
  .our-numbers {
    padding: 40px 43px !important;
    background-color: #000D65;
    color: #fff;
    position: absolute;
    bottom: -134px;
    width: calc(100% - 215px);
    margin-top: 31px;
    h2 {
      margin-bottom: 40px;
    }
    span {
      color: #C5A459;
      font-size: 60px;
      width: 100%;
      float: left;
      margin-bottom: 10px;
      font-weight: bolder;

    }
    @media (max-width: $breakpoint-mid) {
      position: relative;
      width: calc(106% + 40px) !important;
      float: left;
      margin-top: 10px;
      bottom: -10px;
      padding: 30px 20px !important;
      margin-left: -29px;
      span {
        font-size: 40px;
        img {
          width: 80px;
        }
      }
      .l-col--3 {
        width: calc(8.33333% * 5 - 15px) !important;
        padding-right: 0px;
        margin-bottom: 23px;
      }
    }

  }

  .unorder-content{
    padding: 60px 0px 60px 90px;
    box-sizing: border-box;
    margin-top: -85px;
    position: relative;
    @media (max-width: $breakpoint-mid) {
      padding: 0px;
      margin-top: 0px;

    }

    .proyects {
      margin-top:200px;
      .proyects-image {
        padding-left: 0px!important;
        padding-right: 0px!important;
        @media (max-width: $breakpoint-mid) {
          width:95%!important;
        }
        img {
          padding: 0px;
          margin: 0px;
          width: 100%;
          max-height: 375px;
        }
        .description {
          width: 100%;
          box-sizing: border-box;
          background-color: #000;
          padding: 35px;
          color: #E5E5E5;
          margin-top: -5px;
          @media (max-width: $breakpoint-mid) {
            padding-bottom: 50px;
          }

        }
      }
      .proyects-description {
        background: #061DB2;
        width: 33.2%;
        box-sizing: border-box;
        padding: 60px;
        margin-left: -35px;
        color: #fff;
        margin-top: 83px;
        height: 293px;
        position: relative;
        p{
          font-size: 18px;
        }
        h2 {
          text-align: center;
          margin-bottom: 20px;
        }
        .label{
          padding: 7px 30px;
          font-size: 14px;
          background: #fff;
          color: #000;
          display: inline-block;
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
          position: absolute;
          left: -65px;
          top: 150px;
        }
        @media (max-width: $breakpoint-mid) {
          margin-right: 0px;
          float: right;
          width: 75% !important;
          margin-top: -30px;
          padding: 33px;
          text-align: center;
        }
      }
      @media (max-width: $breakpoint-mid) {
        margin-top: 20px;
      }
    }
    .clients {
      margin-left: -8.3%;
      position: relative;
      height: 300px;
      width: 100%;
      float: left;
      margin-top: 30px;
      margin-bottom:110px;
      @media (max-width: $breakpoint-mid) {
        margin-top: 20px;
        
      }
      .proyects-image {
        height: 374px;
        overflow: hidden;
        img {
          width: 100%;
        }      
      }
      .proyects-description {
        margin-left: -35px;
        background: #1131FF;
        box-sizing: border-box;
        padding: 90px;
        color: #fff;
        bottom: -74px;
        position: absolute;
        left: 57.4%;
        height: 404px;

        h2 {
          text-align: center;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
        }

        .label{
          padding: 7px 30px;
          font-size: 14px;
          background: #fff;
          color: #000;
          display: inline-block;
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
          position: absolute;
          left: -64px;
          bottom: 120px;
        }
        @media (max-width: $breakpoint-mid) {
          margin-top: -13px;
          padding: 30px;
          width: 84%!important;
          left: 34%;
          top: 195px;
          text-align: center;
          padding-bottom: 250px;
        }
      }
    }
    .our-team {
      margin-left: -8.3%;
      position: relative;
      width: 100%;
      float: left;
      @media (max-width: $breakpoint-mid) {
        margin-top: 10px;
      }
      .our-team-image {
        img {
          width: 100%;
        }
      }
      .our-team-description {
        margin-left: -35px;
        background: #000D65;
        box-sizing: border-box;
        padding: 60px;
        color: #fff;
        position: absolute;
        left: 65.7%;
        margin-top: -80px;
        h2 {
          text-align: center;
          margin-bottom: 20px;
        }
        .label{
          padding: 7px 30px;
          font-size: 14px;
          background: #fff;
          color: #000;
          display: inline-block;
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
          position: absolute;
          left: -70px;
          top: 134px;
        }

        @media (max-width: $breakpoint-mid) {
          margin-top: -65px;
          padding: 90px 40px 40px;
          left: 0px;
          margin-left: 75px;
          width: 88%!important;
          position: relative;
          z-index: -1;
        }

      }
    }
    @media (max-width: $breakpoint-mid) {
      .proyects-image, .our-team-image {
        padding: 0px;
      }
    }
  }
  .team-members {
    margin-top:100px;
    .team-member {
      margin-bottom: 50px;
      figure {
        width: 255px;
        height: 255px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto 30px;
        img{
          height: 100%;
        }
      }
      h4 {
        margin-bottom: 20px; 
      }
    }
  }
  .servicios {
    .list-of-services {
      margin-bottom: 40px;
      a {
        color: #9B9B9B;
        text-decoration: none;
        padding-bottom: 10px;
        &.active {
          color: $user-research-color;
          border-bottom: 1px solid $user-research-color;
        }
      }

      @media (max-width: $breakpoint-mid) {
        display: none;
      }
    }
    .service {
      display: none;   
      position: relative; 
      margin-bottom: 50px;
      &:nth-child(2) {
        display: block;
      } 
    }
    .first-content {
      margin-top: 50px;
      width: calc(100% + 180px);
      margin-left: -90px;
      background-size: 100%;
      position: relative;
      padding-bottom: 30px;
      height: 395px;
      img {
        display: inline-block;
        position: absolute;
        bottom: 0px;
      }
      article {
        display: inline-block;
        color: #fff;
        padding-top: 80px;
        float:right;
        h2 {
          font-size: 30px;
          margin-bottom: 60px;
        }
        a {
          padding: 15px 30px;
          background-color: #fff;
          color: $user-research-color;
          text-decoration: none;
          float: right;
          margin-top: 30px;
        }
      }
      &.investigacion {
        background-color: #DCDCD2;
        h2, p {
          color: $user-research-color;
        }
        img {
          margin-left: 30px;
          margin-top: -40px;
        }
        article {
          a {
            background-color: $user-research-color;
            color: #fff;
          }
        }
      }
      &.diseno-product {
        background-color: #000D65; 
        img {
          margin-left: 30px;
          margin-top: -40px;
          width: 450px;
        }
        article {
          a {
            color: #000D65;
          }
        }
      }
      &.diseno-content {
        background-color: #C5A459;
        img {
          margin-left: 150px;
          margin-top: -40px;
          height: auto;
          width: auto;
        }
        h2, p {
          color: #061DB2;
        }
        article {
          a {
            color: #fff;
            background: #061DB2;
          }
        }       
      }
    }
    .second-content {
      margin-top: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #9B9B9B;
      ul.with-us ,.tools{
        margin-top: 40px;
        padding-left: 25px;
        li {
          margin-bottom: 25px;
          position: relative;
          span {
            position: absolute;
            left: -20px;
            
          }
        }
      }
      .tools {
        list-style-type: disc;
        li {
          a {
            cursor:pointer;
            position: relative;
            .tooltip {
              width: 300px;
              padding: 30px;
              position: absolute;
              z-index: 99;
              background: #9B9B9B;
              top: -53px;
              right: -385px;
              &:after {
                right: 100%;
                top: 28%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(213, 32, 32, 0);
                border-right-color: #9B9B9B;
                border-width: 15px;
                margin-top: -15px;
              }
            }
          }
        }
      }
      &.investigacion {
        h3 {
          color: $user-research-color;
        }
        ul.with-us {
          li {
            span {
              color: $user-research-color;
            }
          }
        }
        .tools {
          li {
            a {
              .tooltip {
                background: #DCDCD2;
                color: #000D65;
                display:none;
                &:after {
                  border-right-color: #DCDCD2;
                }
              }
              &:hover {
                color:$user-research-color;
                text-decoration: underline;
              }
            }
          }
        }
      }
      &.diseno-product {
        h3 {
          color: $user-research-color;
        }
        ul.with-us {
          li {
            span {
              color: $user-research-color;
            }
          }
        }
        .tools {
          li {
            a {
              .tooltip {
                background: $product-design-color;
                color: #fff;
                display:none;
                &:after {
                  border-right-color: $product-design-color;
                }
              }
              &:hover {
                color: $product-design-color;
                text-decoration: underline;
              }
            }
          }
        }
      }
      &.diseno-content {
        h3 {
          color: $user-research-color;
        }
        ul.with-us {
          li {
            span {
              color: $user-research-color;
            }
          }
        }
        .tools {
          li {
            a {
              .tooltip {
                background: $content-design-color;
                color: #fff;
                display:none;
                &:after {
                  border-right-color: $content-design-color;
                }
              }
              &:hover {
                color: $content-design-color;
                text-decoration: underline;
              }
            }
          }
        }        
      }
    }

    .third-content {
      margin-top: 40px;
      h3 {
        margin-bottom: 30px;
      }
      &.investigacion {
        h3 {
          color: $user-research-color;
        }
      }
      &.diseno-product {
        h3 {
          color: $user-research-color;
        }
      }
      &.diseno-content {
        h3 {
          color: $user-research-color;
        }
      }
    }
  }
  .proyectos-content {
    .filtro {
      padding-top: 40px;
      padding-bottom: 40px;
      li {
        display: inline-block;
        color: #9B9B9B;
        margin-right: 20px;
        transition: .2s linear all;
        font-size: 17px;
        cursor: pointer;
        &:hover {
          color: #000;
        }
        &.active {
          color: #000;
          border-bottom: 1px solid  #000;
        }
      }

      @media (max-width: $breakpoint-mid) {
        opacity: 0;
        height: 1px;
      }

    }
    .star {
      margin-bottom: 30px;
      position: relative;
      figure {
        padding: 0px;
        margin: 0px;
        img {
          width: 100%;
        }
      }
      .description {
        position: absolute;
        background: red;
        padding: 40px;
        color: #fff;
        width: 31%;
        margin-left: 59.2%;
        top: 54px;
        height: 233px;
        display: none;
        &:nth-child(2) {
          display: block;
        } 
        h2{
          text-align: center;
        }
        small {
          display: block;
          text-align: center;
          margin-bottom: 30px;
        }
        &.investigacion {
          background-color: $user-research-color;
        }
        &.diseno-product {
          background-color: $product-design-color;
        }
        &.diseno-content {
          background-color: $content-design-color;
        }
      }
      @media (max-width: $breakpoint-mid) {
        margin-bottom: 100px;
        .description {
          width: 50%;
          margin-left: 37%;
          zoom: .8;
          padding: 30px;
        }
        img {
          margin-left: -20px;
        }
      }

      @media (max-width: $breakpoint-small) {
        margin-bottom: 200px;
        .description {
          width: 65%;
          margin-left: 10%;
          zoom: .9;
        }
      }     
    }
    .projects-list{
      margin-right: 0px !important;
      padding-right: 0px;
    }
  }
  .indicators {
    padding: 30px 50px;
    box-sizing: border-box;
    margin-bottom: -30px;
    position: relative;
    bottom: -63px;
    background-color: $user-research-color;
    .prev {
      float:left;
      margin-left: 20px;
      cursor: pointer;
      transition: .2s linear all;
      margin-top: 2px;
      &:hover {
        margin-left: 15px;
      }
    }
    .next {
      float:right;
      margin-right: 20px;
      cursor: pointer;
      transition: .2s linear all;
      &:hover {
        margin-right: 15px;
      }
    }
    &.investigation {
      background-color: #DCDCD2;
    }
    &.diseno-product {
      background-color: #000D65
    }
    &.diseno-content {
      background-color: #C5A459;
    }
    @media (max-width: $breakpoint-mid) {
      width: calc(100% + 20px)!important;
      margin-left: -10px;
      margin-top: -55px;
    }
  }
  .proyecto-box {
    padding-left: 0px!important;
    width: 32%;
    margin-left: 2%;
    margin-right: 0px!important;
    cursor: pointer;
    text-decoration: none;
    &:nth-child(2) {
      margin-left: 0px;
    } 
    &.two-columns {
      width: 48%;
      margin-right: 2%!important;  
      margin-left: 0px!important;  
      margin-bottom: 30px;
      &:nth-child(2n) {
        margin-left: 0px;
        float: right;
        margin-right: 0px!important;
      } 
    }
    figure {
      height: 250px;
      overflow: hidden;
      margin: 0px;
      padding: 0px;
      img {
        width: 100%;
      } 
    }
    .description {
      width: 80%;
      margin-left: 10%;
      box-sizing: border-box;
      padding: 20px;
      text-align: center;
      background: #E5E5E5;
      margin-top: -55px;
      position: relative;
      box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
      h4 {
        font-size: 16px;
        line-height: 27px;
        font-weight: bolder;
      }
      small {
        font-size: 13px;
      }
      &.investigacion {
        color: $user-research-color;
      }
      &.diseno-product {
        color: $user-research-color;
      }
      &.diseno-content {
        color: $user-research-color;
      }
    }
  }
  .desktop {
    display: inline-block;
    @media (max-width: $breakpoint-mid) {
      display: none;
    }
  }
  .mobile {
    display: none;
    @media (max-width: $breakpoint-mid) {
      display: inline-block;
    }
  }
  .proyecto {
    .proyecto-header {
      width: calc(100% + 180px);
      margin-left: -90px;
      margin-top: -60px;
      padding-top: 60px;
      padding-bottom: 150px;
      float:left;
      color: #fff;
      &.investigacion {
        background-color: $user-research-color;
      }
      &.diseno-product {
        background-color: $product-design-color;
      }
      &.diseno-content {
        background-color: $content-design-color;
      }
      .first-content {
        padding-left: 80px;
        ul {
          list-style: disc;
          list-style-position: inside;
          margin-top: 10px;
          line-height: 25px;
        }
        @media (max-width: $breakpoint-mid) {
          padding-left: 10px;
          margin-top: 30px;
        }

      }
      .second-content {
        h1 {
          font-size: 36px;
          margin-bottom: 30px;
        }
      }
      @media (max-width: $breakpoint-mid) {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 20px;
        padding-bottom: 80px;
      }
    }
    .resultados {
      margin-top: -100px;
      padding: 40px;
      background-color: #E5E5E5;
      box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
      width: calc(8.33333% * 12 - 0px);
      @media (max-width: $breakpoint-mid) {
        margin-top: 10px;
        h2 {
          margin-bottom: 40px;
        }
        ul {
          margin-top: 0px!important;
        }
      }
      ul {
        margin-top: 40px;
        padding-left: 25px;
        line-height: 25px;
        li {
          margin-bottom: 25px;
          position: relative;
          line-height: 20px;
          span {
            position: absolute;
            left: -20px;
            
          }
        }
      }
      &.investigacion {
        h2 {
          color: $user-research-color;
        }
        li {
          span {
            color: $user-research-color;
          }
        } 
      }
      &.diseno-product {
        h2 {
          color: $product-design-color;
        }
        li {
          span {
            color: $product-design-color
          }
        } 
      }
      &.diseno-content {
        h2 {
          color: $content-design-color;
        }
        li {
          span {
            color: $content-design-color;
          }
        } 
      }
    }

    .project-content-detail {
      margin-top: 50px;
      @media (max-width: $breakpoint-mid) {
        overflow: hidden;
      }
      
      figure {
        padding: 0px;
        margin: 0px;
        margin-left: 30px;
        position: relative;
        margin-bottom: 50px;
        @media (max-width: $breakpoint-mid) {
          margin-left: 0px;
          img {
            width: 100%;
            margin-right: 100px;
            position: relative;
            right: -104px;
          }
        }
        img{
          width: 100%;
        }
        .text {
          position: absolute;
          padding: 30px;
          width: 60%;
          margin-left: 5%;
          top:230px;
          color: #fff;
          h2 {
            font-size: 18px;
          }
          &.investigacion {
            background-color: $user-research-color;
          }
          &.diseno-product {
            background-color: $product-design-color;
          }
          &.diseno-content {
            background-color: $content-design-color;
          }
          @media (max-width: $breakpoint-mid) {
            width: 65%;
            margin-left: 0px;
            margin-top: -68px;
          }
        }
      }
      .paragraph {
        margin-top: 40px;
        .gallery {
          margin-top: 30px;
          img {
            width: 100%;
          }
          .slick-dots {
            width: 100%;
            text-align: center;
            margin-top:15px;
            li {
              display: inline-block;
              button {
                border: none;
                border-radius: 50%;
                width: 7px;
                height: 7px;
                background: #E5E5E5;
                font-size: 0px;
                margin: 0px 5px;
                padding: 0px;
                outline: none;
              }
              &.slick-active {
                button {
                  background: #999;
                }
              }
            }
          }
        }
      }
    }
  }

.services-box-mobile {
  display: none!important;
  @media (max-width: $breakpoint-mid) {
    display: block!important;
    width: 80% !important;
    margin-left: 10%;
    width: 100%;
    float: left;
    margin-top: 30px;
    .item {
      margin: 0 10px;
      zoom: .9;
      transition: .2s linear zoom;
      outline: none;
      &.slick-current{
        zoom: 1;
        margin-top: -33px;
      }
    }
    .services-box {
      height: 501px;
      img {
        bottom: inherit;
      }
    }
    .slick-dots {
      width: 100%;
      text-align: center;
      margin-top:15px;
      li {
        display: inline-block;
        button {
          border: none;
          border-radius: 50%;
          width: 7px;
          height: 7px;
          background: #E5E5E5;
          font-size: 0px;
          margin: 0px 5px;
          padding: 0px;
          outline: none;
        }
        &.slick-active {
          button {
            background: #999;
          }
        }
      }
    }
    .slick-list {
      overflow: inherit!important;
    }
  }
}
form {
  input[type="text"], textarea {
    width: 100%;
    float: left;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    color: #ccc;
    transition: .2s linear border;
    &:focus {
      border-bottom: 1px solid $user-research-color;
      color: #000;
    }
  }
  textarea {
    height: 200px;
    
  }
  input[type="submit"] {
    padding: 10px 20px;
    width: 100%;
    outline: none;
    background-color: #E5E5E5;
    border: none;
    color: #999;
    font-size: 16px;
  }
}
footer {
  background: #000;
  padding: 20px 0px 40px;
  color: #fff;
  margin-top: 30px;
  overflow: hidden;
  small {
    display: inline-block;
    font-size: 12px;
    margin-top: 15px;
    line-height: 15px;
  }
  .colofon {
    text-align: right;
  }
  @media (max-width: $breakpoint-mid) {
    * {
      text-align: left;
      width: 100%;
      display: block;
    }
    img {
      width: 65%;
    }
    small {
      margin: 20px 0px;
    }
  }
}
